# Nearest Neighbor price based Collaborative Filtering

In [1]:
import pandas as pd
import numpy as np

In [2]:
combined=pd.read_csv("Combined.csv")

In [3]:
combined.head()

,Unnamed: 0,order_id,order_item_id,product_id,seller_id,price,freight_value,product_category_name,customer_id,review_id,review_score,review_comment_title,review_creation_date,review_answer_timestamp,customer_unique_id,customer_city,customer_state,seller_city,seller_state,product_category_name_english
0,0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,58.9,13.29,cool_stuff,3ce436f183e68e07877b285a838db11a,97ca439bc427b48bc1cd7177abe71365,5,Super recomended,2017-09-21 00:00:00,2017-09-22 10:57:03,871766c5855e863f6eccc05f988b23cb,campos dos goytacazes,RJ,volta redonda,SP,cool_stuff
1,1,130898c0987d1801452a8ed92a670612,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,55.9,17.96,cool_stuff,e6eecc5a77de221464d1c4eaff0a9b64,b11cba360bbe71410c291b764753d37f,5,Super recomended,2017-07-14 00:00:00,2017-07-17 12:50:07,0fb8e3eab2d3e79d92bb3fffbb97f188,jatai,GO,volta redonda,SP,cool_stuff
2,2,532ed5e14e24ae1f0d735b91524b98b9,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,64.9,18.33,cool_stuff,4ef55bf80f711b372afebcb7c715344a,af01c4017c5ab46df6cc810e069e654a,4,Recomended,2018-06-05 00:00:00,2018-06-06 21:41:12,3419052c8c6b45daf79c1e426f9e9bcb,belo horizonte,MG,volta redonda,SP,cool_stuff
3,3,6f8c31653edb8c83e1a739408b5ff750,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,58.9,16.17,cool_stuff,30407a72ad8b3f4df4d15369126b20c9,8304ff37d8b16b57086fa283fe0c44f8,5,Super recomended,2017-08-10 00:00:00,2017-08-13 03:35:17,e7c828d22c0682c1565252deefbe334d,sao jose dos pinhais,PR,volta redonda,SP,cool_stuff
4,4,7d19f4ef4d04461989632411b7e588b9,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,58.9,13.29,cool_stuff,91a792fef70ecd8cc69d3c7feb3d12da,426f43a82185969503fb3c86241a9535,5,Super recomended,2017-08-25 00:00:00,2017-08-28 00:51:18,0bb98ba72dcc08e95f9d8cc434e9a2cc,conselheiro lafaiete,MG,volta redonda,SP,cool_stuff

In [4]:
df1=pd.read_csv("combined.csv",usecols=['product_id','customer_unique_id','product_category_name_english','review_score','price'])

In [5]:
df1.head()

,product_id,price,review_score,customer_unique_id,product_category_name_english
0,4244733e06e7ecb4970a6e2683c13e61,58.9,5,871766c5855e863f6eccc05f988b23cb,cool_stuff
1,4244733e06e7ecb4970a6e2683c13e61,55.9,5,0fb8e3eab2d3e79d92bb3fffbb97f188,cool_stuff
2,4244733e06e7ecb4970a6e2683c13e61,64.9,4,3419052c8c6b45daf79c1e426f9e9bcb,cool_stuff
3,4244733e06e7ecb4970a6e2683c13e61,58.9,5,e7c828d22c0682c1565252deefbe334d,cool_stuff
4,4244733e06e7ecb4970a6e2683c13e61,58.9,5,0bb98ba72dcc08e95f9d8cc434e9a2cc,cool_stuff

In [6]:
df1.groupby('product_category_name_english')['price'].mean().sort_values(ascending=False).head()

product_category_name_english
computers                                1105.069009
small_appliances_home_oven_and_coffee     625.918312
home_appliances_2                         471.021020
agro_industry_and_commerce                342.784730
musical_instruments                       298.527902
Name: price, dtype: float64

In [7]:
price = pd.DataFrame(df1.groupby('product_category_name_english')['price'].mean())
price.head()

                                    price
product_category_name_english
agro_industry_and_commerce     342.784730
air_conditioning               186.908315
art                            115.607608
arts_and_craftmanship           75.859474
audio                          139.399392

# create a Pivot matrix

In [8]:
df2 = df1.pivot_table(index='product_category_name_english',columns='customer_unique_id',values='price').fillna(0)
df2.head()

customer_unique_id,0000366f3b9a7992bf8c76cfdf3221e2,0000b849f77a49e4a4ce2b2a4ca5be3f,0000f46a3911fa3c0805444483337064,0000f6ccb0745a6a4b88665a16c9f078,0004aac84e0df4da2b147fca70cf8255,0004bd2a26a76fe21f786e4fbd80607f,00050ab1314c0e55a6ca13cf7181fecf,00053a61a98854899e70ed204dd4bafe,0005e1862207bf6ccc02e4228effd9a0,0005ef4cd20d2893f0d9fbd94d3c0d97,...,fff7219c86179ca6441b8f37823ba3d3,fff96bc586f78b1f070da28c4977e810,fffa431dd3fcdefea4b1777d114144f2,fffb09418989a0dbff854a28163e47c6,fffcc512b7dfecaffd80f13614af1d16,fffcf5a5ff07b0908bd4e2dbc735a684,fffea47cd6d3cc0a88bd621562a9d061,ffff371b4d645b6ecea244b27531430a,ffff5962728ec6157033ef9805bacc48,ffffd2657e2aad2907e67c3e9daecbeb
product_category_name_english,,,,,,,,,,,,,,,,,,,,,
agro_industry_and_commerce,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
air_conditioning,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
art,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
arts_and_craftmanship,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
audio,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [9]:
from scipy.sparse import csr_matrix

price_df_matrix = csr_matrix(df2.values)

In [10]:
from sklearn.neighbors import NearestNeighbors

model_knn = NearestNeighbors(metric = 'cosine', algorithm = 'brute')
model_knn.fit(price_df_matrix)

NearestNeighbors(algorithm='brute', leaf_size=30, metric='cosine',
                 metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                 radius=1.0)

In [11]:
price_df_matrix.shape

(71, 91103)

# choose a random product

In [12]:
query_index = np.random.choice(df2.shape[0])
print(query_index)
distances, indices = model_knn.kneighbors(df2.iloc[query_index,:].values.reshape(1, -1), n_neighbors = 6)

42

# Based on that product what we have choosen 5 nearest distance product get recommended based on prices

In [13]:
for i in range(0, len(distances.flatten())):
    if i == 0:
        print('Recommendations for {0}:\n'.format(df2.index[query_index]))
    else:
        print('{0}: {1}, with distance of {2}:'.format(i, df2.index[indices.flatten()[i]], distances.flatten()[i]))

Recommendations for garden_tools:

1: home_construction, with distance of 0.9981712933207295:
2: la_cuisine, with distance of 0.9983667435516093:
3: construction_tools_construction, with distance of 0.9985546199573845:
4: computers_accessories, with distance of 0.9993456923710851:
5: furniture_decor, with distance of 0.999442878555335:

# Calculate the accuracy

In [14]:
from sklearn.neighbors import KNeighborsClassifier 
from sklearn.model_selection import train_test_split 
from sklearn.metrics import confusion_matrix
from sklearn.metrics import precision_score, recall_score, f1_score, accuracy_score
import matplotlib.pyplot as plt

In [15]:
df3=pd.read_csv("combined.csv",usecols=['product_category_name_english','price'])
df3

        price product_category_name_english
0       58.90                    cool_stuff
1       55.90                    cool_stuff
2       64.90                    cool_stuff
3       58.90                    cool_stuff
4       58.90                    cool_stuff
...       ...                           ...
108067  21.60                       flowers
108068  17.99                       flowers
108069  42.00                       flowers
108070  16.80                       flowers
108071  30.00                       flowers

[108072 rows x 2 columns]

In [16]:
df4 = pd.get_dummies(df3)
df4

,price,product_category_name_english_agro_industry_and_commerce,product_category_name_english_air_conditioning,product_category_name_english_art,product_category_name_english_arts_and_craftmanship,product_category_name_english_audio,product_category_name_english_auto,product_category_name_english_baby,product_category_name_english_bed_bath_table,product_category_name_english_books_general_interest,...,product_category_name_english_security_and_services,product_category_name_english_signaling_and_security,product_category_name_english_small_appliances,product_category_name_english_small_appliances_home_oven_and_coffee,product_category_name_english_sports_leisure,product_category_name_english_stationery,product_category_name_english_tablets_printing_image,product_category_name_english_telephony,product_category_name_english_toys,product_category_name_english_watches_gifts
0,58.90,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,55.90,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,64.90,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,58.90,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,58.90,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
108067,21.60,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
108068,17.99,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
108069,42.00,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
108070,16.80,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
108071,30.00,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [17]:
X = df4.drop('price',axis=1)
y= df4['price']

In [18]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25,random_state=0)

In [19]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_log_error

lreg = LinearRegression()
lreg.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [20]:
pred_train = lreg.predict(X_train)
train_score = np.sqrt(mean_squared_log_error(y_train,pred_train))

In [21]:
pred_test = lreg.predict(X_test)
test_score = np.sqrt(mean_squared_log_error(y_test,pred_test))

In [22]:
print('Training score:', train_score)
print('Test score:', test_score)

Training score: 0.9537800678147805
Test score: 0.9505448439034502